<p>Announcement Bar</p>
{% schema %}
{
	"name": "Announcement Bar",
	"tag": "section",
	"settings": [
		{
			"type": "text",
			"id": "announcement",
			"label": "Announcement Bar"
		}
	]

}
{% endschema %}