<h1>{{ section.settings.title }}</h1>

{% for block in section.blocks %}
	<p>{{ block.id }}</p>
	<p>{{ block.settings.title }}</p>
{% endfor %}

{% schema %}
{
	"name": "Announcement Bar",
	"tag": "section",
	"class": "announcement-bar",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Announcement Bar"
		}
	],
	"blocks": [
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Default"
				}
			]
		}
	],
	"enabled_on": {
		"groups": ["header"]
	}
}
{% endschema %}