{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
{% comment %} <script src="{{ 'announcement-bar.js' | asset_url }}" defer="defer"></script> {% endcomment %}

{% if section.settings.show_announcement %}
	{% assign announcement_count = section.blocks.size %}
	{% if announcement_count > 1 %}
	<div class="announcement-bar-container container text-center py-2">
		<div class="announcement-slider">
			{% for block in section.blocks %}
				<p class="announcement-slide">{{ block.settings.title }}</p>
			{% endfor %}
		</div>
	</div>
	{% elsif announcement_count == 1 %}
	<div class="container text-center py-2">
		<p class="single-announcement-bar">{{ section.blocks.first.settings.title }}</p>
	</div>
	{% endif %}
{% endif %}

{% schema %}
{
	"name": "Announcement Bar",
	"tag": "section",
	"class": "announcement-bar",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_announcement",
			"label": "Show Announcement",
			"default": false
		},
		{
			"type": "text",
			"id": "title",
			"label": "Announcement Bar"
		}
	],
	"max_blocks": 5,
	"blocks": [
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Default"
				}
			]
		}
	],
	"enabled_on": {
		"groups": ["header"]
	},

}
{% endschema %}