<div class="container">
	<div class="flex justify-between py-2">
		<div>MENU</div>
		<div>LOGO</div>
		<div>LOGIN and CART</div>
	</div>
</div>
{% schema %}
{
	"name": "Header",
	"tag": "header",
	"class": "main-header",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Header Title"
		}
	],
	"enabled_on": {
		"groups": ["header"]
	},
	"presets": [
		{
			"name": "Header",
			"settings": {
				"title": "Header"
			}
		}
	]
}
{% endschema %}