<h1 class="text-center">THIS IS THE HEADER</h1>
{% schema %}
{
	"name": "Header",
	"tag": "header",
	"class": "main-header",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Header Title"
		}
	],
	"enabled_on": {
		"groups": ["header"]
	},
	"presets": [
		{
			"name": "Header",
			"settings": {
				"title": "Header"
			}
		}
	]
}
{% endschema %}