/* 
COLOR PALETTES
					Hex			RGB
Rich Red			#9c2c2c		(156,44,44)
Soft Yellow			#f0c36f		(240,195,111)
Light Background	#f4f7f6		(244,247,246)
Calming Green		#c9dcd6		(201,220,214)
Dark Grey			#3f3f3f		(63,63,63)
*/


* {
	font-family: 'ubuntu-regular';
	margin: 0 auto;
	padding: 0;
	color: #3f3f3f;
}

@font-face {
	font-family: 'ubuntu-regular';
	src: url('https://cdn.shopify.com/s/files/1/0581/5563/0691/files/Ubuntu-Regular.ttf?v=1721742959');
}

@font-face {
	font-family: 'ubuntu-medium';
	src: url('https://cdn.shopify.com/s/files/1/0581/5563/0691/files/Ubuntu-Medium.ttf?v=1721742959');
}

@font-face {
	font-family: 'ubuntu-bold';
	src: url('https://cdn.shopify.com/s/files/1/0581/5563/0691/files/Ubuntu-Bold.ttf?v=1721742959');
}